.intestazione {
    height: 100px;
    background-color: #4EA0FF ;
    background-image: url(pattern.png) ;
    background-size: 25%;
    background-repeat: repeat;
    }

.intestazione img {
    height: 50%;
    margin-top: 40px;
    margin-left: 10px;
}

main {
    width: 50%;
}

.Titolo {
    margin-bottom: 0;
}

.sottotitolo {
    margin: 0;
    color: grey ;
}

h3 span {
    color: #4EA0FF;
}

.data {
    color: grey;
    margin-top: 0;
}

.notizia img {
    width: 49%;
    height: 300px;
}

.desc-foto p {
    margin: 0;
    font-size: 11px;
}

.testo-notizia span {
    background-color: yellow;
}

table {
    border: none;
    width: 100%;
}
thead {
    background-color: #4EA0FF;
    color: white;
}

.riga-azzurra {
    background-color: #B1E5F2;
}
.th1, .th2 {
    width: 25%;
    margin-left: 0;
    text-align: left;

}

.th3 {
    width: 50%;
    text-align: left;
}

footer h3 {
    color: grey;
    font-size: 13px;
}

.img1-footer {
    background-image: url(monitor.jpg);
    height: 100px;
    width: 150px;
    background-size: 100%;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.img2-footer {
    background-image: url(graph.jpg);
    height: 100px;
    width: 150px;
    background-size: 100%;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
}

