.intestazione {
    height: 100px;
    background-color: #4EA0FF ;
    background-image: url(pattern.png) ;
    background-size: 25%;
    background-repeat: repeat;
    }

.intestazione img {
    height: 50%;
    margin-top: 40px;
    margin-left: 10px;
}

main {
    width: 50%;
}

.Titolo {
    margin-bottom: 0;
}

.sottotitolo {
    margin: 0;
    color: grey ;
}

h3 span {
    color: #4EA0FF;
}

.data {
    color: grey;
    margin-top: 0;
}

.notizia img {
    width: 49%;
    height: 300px;
}

.desc-foto p {
    margin: 0;
    font-size: 11px;
}

.testo-notizia span {
    background-color: yellow;
}